<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Add Note</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            padding: 20px;
        }
        .centered-form {
            min-width: 100%; 
            display: flex;
            justify-content: center;
            height: 100vh; 
        }
    </style>
</head>
<body>
    <div class="centered-form">
        <div class="col-md-6">
            <h1>Добавить запись</h1>
            <form method="post" class="my-4">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
            <a href="{% url 'note_list' %}" class="btn btn-secondary">Вернуться назад</a>
        </div>
    </div>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>