<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Note List</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <h1 style="margin-bottom: 40px;">Note App</h1>
  <ul class="list-group">
    {% for note in notes %}
      <li class="list-group-item" style="margin-bottom: 20px;">
        <a href="{% url 'note_detail' note.id %}" style="text-decoration: none; color:black; ">{{ note.title }}</a>
      </li>
    {% endfor %}
    
  </ul>
    <a href="{% url 'add_note' %}" class="btn btn-primary" style="text-decoration: none; color: white;">Добавить заметку</a>
    <a href="{% url 'search_notes_page' %}" class="btn btn-primary" style="text-decoration: none; color: white;">Составить отчет</a>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>